{{ define "main" }}
<!-- featured post -->
<section class="overflow-hidden">
    <div class="container-fluid p-sm-0">
        <div class="row featured-post-slider">
            {{ range (where site.RegularPages "Type" "featured")}}
            <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
                <article class="card bg-dark text-center text-white border-0 rounded-0">
                    <img class="card-img rounded-0 img-fluid w-100" src="{{.Params.Image | absURL}}" alt="post-thumb">
                    <div class="card-img-overlay">
                        <div class="card-content">
                            <p class="text-uppercase">{{range .Params.Categories}}{{. | humanize}}{{end}}</p>
                            <h4 class="card-title mb-4"><a class="text-white" href="{{.Permalink}}">{{.Title}}</a></h4>
                            <a class="btn btn-outline-light" href="{{.Permalink}}">看更多</a>
                        </div>
                    </div>
                </article>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<!-- /featured post -->

<!-- blog post -->
<section class="section">
    <div class="container">
        <div class="row masonry-container">
            {{ range site.RegularPages }}
            <div class="col-lg-4 col-sm-6 mb-5">
                <article class="text-center">
                    <img class="img-fluid mb-4" src="{{.Params.Image | absURL }}" alt="post-thumb">
                    <p class="text-uppercase mb-2">{{range .Params.Categories}}{{. | humanize}}{{end}}</p>
                    <h4 class="title-border"><a class="text-dark" href="{{.Permalink}}">{{.Title}}</a></h4>
                    <p>{{.Summary}}</p>
                    <a href="{{.Permalink}}" class="btn btn-transparent">看更多</a>
                </article>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<!-- /blog post -->

{{partial "instafeed.html" . }} {{ end }}